<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoomclone"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
    tools:replace="android:icon,android:theme"
    />
</manifest>